/*Do zadania 1*/
#addUser, #age {
    margin-top:10px;
    padding:5px;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#openAddFormBtn {
  margin: 20px;
}

.collapsible-header i {
  margin: 0;
}

.collapsible-header :first-child {
  flex-grow: 1;
}

.btn-floating.halfway-fab {
  bottom: 333px;
}

#cardForm {
  display: none;
}

#cardFormUpdate .card-content {
  padding: 15px 24px 0;
}

.collapsible-body .row {
  margin-bottom: 0;
}

#cardFormUpdate .col {
  margin-top: 0;
}